html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding:0;
    margin:0;
}
.intern-card{
    display: flex;
    width: 256px;
    height: 126px;
    align-content:center;
    padding: 0%;
    background-color: #F8F8F8;
    border-radius: 4px;
}
.intern-card-hover:hover{
    background-color:#2670E8;
}
.intern-card-hover:hover h1 {
    color: #F8F8F8;
}
.child-box{
    width: 100%;
    align-content: center;
    text-align:center;
}
.custom-h1{
    font-family: 'Rawline', sans-serif;
    font-size: 32px;
    color: #0C326F;
    font-weight:400;
}
.table .custom-h1{
    font-size: 14px;
    color: #333333;
    font-weight:300;
}
a h1.custom-h1{
    font-size:16px;
    color:#212529;
}
.parent-box {
    display: flex;
    justify-content: space-between;
}
.inline{
    display: inline;
}
.mini-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    width: 38px;
    height: 38px;
    font-size: 28px;

}
.size-h1{
    display: inline-flex;
    width: 105px;
}

/*Filter*/
    .dropdown-menu{
        display: none;
    }
    .custom-dropdown:hover{
        background-color: #2670E8;
        color: #F8F8F8;
    }
    .custom-dropdown:hover .dropdown-menu{
        display: flex;
    }
    .col-sm-2.col-lg-1.btn:hover .material-symbols-outlined.light-blue {
        color: #F8F8F8;
    }
    .dropdown-menu .dropdown-item:hover{
        background-color: #2670E8;
        color: #F8F8F8;
    }
    .custom-filter{
        height: 52px;
        background-color: #EDEDED;
        border: none;
    }
    .no-outline:focus{
        outline: none;
        box-shadow: none;
    }
/*>>>>>>> 7aeeae9 (:bug: uninstall test db and implement latest db. Fixes #14)*/
    /*.rounded-input-left {*/
        /*border-top-left-radius: 6px;*/
        /*border-bottom-left-radius: 6px;*/
    /*}*/
    /*.rounded-button-left {*/
        /*border-top-right-radius: 6px;*/
        /*border-bottom-right-radius: 6px;*/
    /*}*/
/*<<<<<<< HEAD*/
/*=======*/
    .rounded-input-left {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .rounded-button-right{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .row input{
        width: 100%;
    }
    .custom-dropdown{
        display: flex;
    }
/*     .custom-bg{*/
        /*height: 100%;*/
        /*background-repeat: no-repeat;*/
        /*background-attachment: scroll;*/
        /*background-size: cover;*/
        /*background-position: center center;*/
        /*overflow: hidden;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*padding-bottom: 50px;*/
        /*margin-bottom:-32px;*/
    /*}*/
        .mt-row-inf{
            margin-top: 184px;
        }
        .card-row{
            display:flex;
            /*height: 185px;*/
            height: 294px;
            background-color: #0C326F;
            justify-content:space-around;
            flex-wrap: nowrap;
        }
    @media (min-width: 768px){
        .custom-m{
            margin-left: 44px;
            margin-right: 46px;
        }
    }
    @media (min-width: 992px){
        .custom-m{
            margin:15px 0 15px 0;
        }
        .mt-row-inf{
            margin-top: 200px;
        }
        .custom-bg {
            background-size: contain;
            background-repeat:repeat;
        }
    }
    @media (min-width: 1200px){
            .mt-row-inf{
                margin-top: 216px;
        }
            .card-row{
                justify-content: center;
        }
            .intern-card{
            height:126px;
        }
    }
    @media (min-width: 1400px){
    }
/* TEMPLATE*/
    /* background-colors */
    .bg-blue{
        background-color: #1B77BC;
    }
    .bg-light-gray{
        background-color:#EDEDED;
    }
    .custom-bg{
        height: 100%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-size: contain;
        background-position: center center;
        overflow: hidden;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        margin-bottom:-32px;
    }



    /* font-colors */
    .light-blue{
        color: #2670E8;
    }
    .deep-gray{
        color: #333333;
    }
    .gray{
        color:#636363;
    }
    .yellow{
        color:#FFD000;
    }
    .red{
        color:#E61C22;
    }
    .card-row{

    }
    /* STYLE */
        .font-rawline {
            font-family: 'Rawline', sans-serif;
        }
   /* SIZE */
        /*.small{*/
            /*font-size: 18px;*/
        /*}*/
        /*.medium{*/
            /*font-size: 28px;*/
        /*}*/
        /*.large{*/
            /*font-size: 50px;*/
        /*}*/
/*        h1{*/
            /*margin-bottom: 0;*/
            /*color: #333333;*/
       /* }*/

/* ICON */
        .icon-menu{
            width: 28px;
            height: 28px;
            background-image: url(icon/icone-menu.png);
            background-repeat: no-repeat;
        }
        .icon-arrow{
            width: 24px;
            height: 24px;
            background-image: url(icon/arrow-down-2-bold.png);
        }
/*        .arrow-down{*/
        /*}*/
/* SIZE */
    @media (min-width: 1400px) {
            .bg-image {
                height: 100%;
                background-image: url('images/dnit.jpg');
                background-repeat: repeat;
                background-attachment: scroll;
                background-size: contain;
                background-position: center center;
                overflow: hidden;
                margin: 0;
                padding: 0;
                padding-bottom: 50px;
                margin-bottom:-32px;
            }
    }
/* animation */
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  .red-background {
    background-color: red;
  }
/*Filter*/
    .m-top{
        margin-top: 40px;
    }
    .p-bottom{
        padding-bottom: 177px;
    }
    .m-box{
        margin: 30px;
    }
       .mt-cont{
        margin-top: 30px;
    }

    .bg-teste{
        background-color:#FFD000;
    }
    /* background-colors */
    .bg-blue{
        background-color: #1B77BC;
    }
    .bg-light-gray{
        background-color:#EDEDED;
    }
    /* font-colors */
    .light-blue{
        color: #2670E8;
    }
    .deep-gray{
        color: #333333;
    }
    .gray{
        color:#636363;
    }
    .yellow{
        color:#FFD000;
    }
    .red{
        color:#E61C22;
    }
    .card-font{
        font-family: 'Rawline', sans-serif;
        font-size: 18px;
        color: #0C326F;
    }
    /* STYLE */
    /* SIZE */
        .small{
            font-size: 16px;
        }
        .medium{
            font-size: 28px;
        }
        .large{
            font-size: 50px;
        }
        h1{
            margin-bottom: 0;
            color: #333333;
        }
/* animation */
  /*button*/
  .btn{
      display:flex;
      align-items:center;
      height:46px;
      width:100%;
      white-space:wrap;
      font-size:16px;
      border-radius:56px;
  }
   .rounded-button-right{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height:52px;
    }
    /*table*/
    .table-border{
        border: 1px solid #EDEDED;
    }
